@import "tailwindcss";
@plugin "daisyui";


.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: weight;
  font-style: normal;
}

.edu-nsw-act-cursive-font{
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: weight;
  font-style: normal;
}

a.active{
   color:rgb(8, 164, 8);
   background-color:rgb(230, 228, 228) ;
   font-weight:bold;

}
